* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.card {
  width: 250px;
  height: 150px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  display: flex;
  align-items: flex-end;
  padding: 10px;
  /* background-size: cover; */
  background-position: center;
  color: #fff;
   
  background-size: contain; /* fits the whole image inside card */
  background-repeat: no-repeat; /* prevents tiling */
  
}

.card-content {
  position: relative;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
  padding: 5px 10px;
  border-radius: 5px;
  width: 100%;
}

.card-content h3 {
  margin: 0;
  font-size: 18px;
}

.card-content p {
  font-size: 12px;
  margin-top: 3px;
}
