

body {
    background-color: #0d1117;
    color: #c9d1d9;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    width: 400px;
    background: #161b22;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255,255,255,0.1);
}

.search-box {
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 6px;
    background: #0d1117;
    color: #fff;
}

button {
    background: #238636;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #2ea043;
}

.result-box {
    margin-top: 20px;
}

img {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}
