
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

#toast {
  visibility: hidden;
  min-width: 200px;
  background-color: #321818;
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 15px;
  opacity: 0;
  transition: opacity 0.5s, bottom 0.5s;
}



#toast.show {
  visibility: visible;
  opacity: 1;
  bottom: 50px;
}

