
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #121212;
  color: white;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
}

.keys {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.key {
  background: white;
  color: black;
  padding: 30px 20px;
  border-radius: 10px;
  font-size: 24px;
  cursor: pointer;
  user-select: none;
  transition: all 0.2s;
}

.key.active {
  transform: scale(1.1);
  background: gold;
}
